<!--
  Generated template for the StatusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Order Status</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button (click)="toggleVoiceRecognition()" ion-button secondary round>{{ started ? 'Stop' : 'Send Message to Driver' }}</button>
  <!-- <p>
    I heard {{ msg }}
  </p> -->
  <ul class="timeline" *ngFor="let statusData of messages">
    <!-- Item 1 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag white" [ngStyle]="getMyStyles(statusData)">Message: {{statusData.carrierMess}}</span>
        </div>
        <span class="flag-2 white" [ngStyle]="getMyStyles(statusData)">Delay: {{statusData.delay}}</span>
        <p class="flag-2" *ngIf="statusData.alert.length >= 2">Driver: {{statusData.alert}}</p>
      </div>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag" >Time: {{statusData.time}}</span>
        </div>
      </div>
    </li>


  </ul>
</ion-content>